name: CI - ProyectoFisica

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        poetry install -C mmc

    - name: Run tests
      run: |
        poetry run -C mmc pytest -v

    - name: Run grafico.py
      run: |
        poetry run -C mmc python grafico.py

    - name: Commit & push generated image
      run: |
        cd mmc
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"

        git add image/linearizado_mmc.png || true
        git commit -m "Actualizar gráfico generado automáticamente" || echo "No hay cambios"
        git push
