name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Python script
        run: |
          echo "Ejecutando main.py..."
          python srcmmc/main.py

      - name: Upload artifact (logs)
        uses: actions/upload-artifact@v4
        with:
          name: salida-del-script
          path: "*.log"
          if-no-files-found: ignore
